@media screen and (max-width: 480px) {
    .caixa {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    main {
        width: 100%;
    }

    form {
        margin-left: 10px;
    }
}